wheel>=0.30.0
flotils>=0.3.5a0,<0.4.0
python-dateutil>=2.6.1,<2.7
beautifulsoup4>=4.6.0,<4.7
chardet>=3.0.4,<4.0
portalocker>=0.5.5,<1.1
requests>=2.18.4,<3.0
requests-toolbelt>=0.8,<0.9
html2text>=2017.10.4
